<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define App_TargetDir=$(var.StartLauncher.App.TargetDir)?>
  <Product Id="A1580E73-B49E-4A9D-A271-57AE6A045B90" UpgradeCode="f8d33dc0-2581-4d63-aeec-e05fada15891" Version="1.0.0.0" Language="1033"
           Name="Start Launcher" Manufacturer="Matthias Lischka">
    <Package InstallerVersion="300" Compressed="yes" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="icon.ico" SourceFile="../StartLauncher.App/Resources/Bokehlicia-Captiva-Rocket.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Start Launcher" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Start Launcher">
          <Directory Id="CommandsFolder" Name="Commands" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY" />
    <ComponentGroup Id="BinComponent" Directory="APPLICATIONROOTDIRECTORY" Source="$(var.App_TargetDir)">
      <Component Id="StartLauncher.exe">
        <File Name="StartLauncher.exe" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Id="FluentOptionals.dll">
        <File Name="FluentOptionals.dll" />
      </Component>
      <Component Id="MahApps.Metro.dll">
        <File Name="MahApps.Metro.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll">
        <File Name="System.Windows.Interactivity.dll" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7B52F710-4E44-44C8-A207-37EF465AD1C2">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Start Launcher"
                  Description="Start Launcher"
                  Target="[#StartLauncher.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\StartLauncher" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CommandsFolder">
      <Component Id="EmptyCommandsFolder" Guid="46F81F9A-A12E-42A0-B41B-481D15B1A91D">
        <CreateFolder />
        <RemoveFolder Id="CommandsFolder" On="uninstall" />
        <RemoveFile Id="PurgeCommandsFolder" Name="*.*" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\StartLauncher" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentGroupRef Id="BinComponent" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="EmptyCommandsFolder" />
    </Feature>
  </Product>
</Wix>