<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="StartLauncher.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StartLauncher.App.Properties.Settings>
            <setting name="commandsJsonFilePath" serializeAs="String">
                <value/>
            </setting>
        </StartLauncher.App.Properties.Settings>
    </userSettings>
</configuration>
